.add-book-container1{
  background-image: url('/public/footerlogo.png');
  background-repeat: repeat; /* This tiles the image in all directions */
  background-size: 150px; 
}
.add-book-container {
  padding: 20px;
  max-width: 600px;
  margin: auto;
  background-color:;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  margin-top: 100px;
  margin-bottom: 100px;

}
.add-book-container h2{
  background: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-size: 2rem;;
}

.book-form label {
  display: block;
  margin-bottom: 15px;
}

.book-form input,
.book-form select {
  width: 95%;
  padding: 8px;
  margin-top: 5px;
  font-size: 16px;
  margin-right: 10px;
}

.book-form button {
  margin-top: 15px;
  padding: 10px 20px;
 background-color:#36454F ;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.book-form button:hover {
  background: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
  border-radius: 50px;
}
