.footer-container{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    background-color:transparent;
}


.topfooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color:transparent;
   
}



.bottomfooter{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    background-color:#36454F;
    
}
.bottom1, .bottom2, .bottom3{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    background-color:#36454F;
    flex-direction: column;
    height: 100%;
    
}

.bottom2 ul, b, .bottom2 li{
    background-color:#36454F; 
    list-style-type: none;
   
   
}
.bottom1 a:hover{
    text-decoration: underline;
}

.bottom3 ul, li,.bottom3 a{
    background-color:#36454F; 
    text-decoration: none;
    color: #FFC0CB;
    list-style-type: none;
}

.footerinfo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#36454F;
    width: 25%;
    padding: 10px;
    flex-direction: column;
} 
.footerinfo h2{ 
    font-size: 40px;
    background: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 2rem;;
font-family:'exile';
padding-top: 20px;
background-color:#36454F ;
}

.footerinfo p{
    background-color:#36454F;
}

.footerinfo a{
    background-color:#36454F;
    color:#FFC0CB;
    text-decoration: none;
}

.footerinfo a:Hover{
text-decoration: underline;
}

.footericons{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 100%;
    background-color:#36454F; 
    height: 100%;
    padding: 10px;
}



.footericons img{

    transition: padding 0.3s ease;
}

.footericons img:hover{
    padding: 5px;
}


.footerlinks a {
   
    background-color:#36454F; 
    display: flex;
    color: #FFC0CB;
    list-style-type: none;
    line-height: 40px;
    text-decoration: none;
   

}

.footer-container li:hover{
  
    text-decoration: underline;

}


.footer-container a :hover{
    text-decoration: underline;
}

.footerlinks{
    width: 25%;
    background-color:#36454F; 
    display: flex;
    justify-content: center;
    height: 100%;
    padding: 35px;
 
    
}
.footerlinks ul{
   list-style-type: none; 
   background-color:#36454F; 
}


.footericons img{
    border-radius: 50%;
    cursor: pointer;
}



@media screen and (max-width: 800px){
    .footer-container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px;
    }
    .bottomfooter{
        width: 100%;
        margin: 10px;
        padding: 5px;
       
    }
    .bottomfooter{
        flex-wrap: wrap;
        
    }
    .bottom2{
        padding: 5px;
        width: fit-content;
    }
    .bottom1{
        width: 90%;
    }
    .footericons{
        gap: 0px;
    }
}