
.navbar {
  padding: 5px;
  background-color:transparent;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  
  /* margin-bottom: 100px; */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  /* border: 1px solid black; */
  width: 100%;

  
  
}
.logo{
  display: flex;
  align-items: center;
  color: brown;
   margin-bottom: 10px;
   width: 20%;
   justify-content: center;
   height: 50px
}

.logo h1{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
padding-top: 20px;
align-items: flex-end;


}
@media (max-width:970px){
  .navbar{
    flex-wrap:wrap ;

  }
}
.navlinks  {
    /* border-bottom:1px solid black; */
  font-size: 15px;
    display:flex;
    justify-Content:space-around;
    padding:10px; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 70%;
    background-color:transparent;
   
}
.navlinks a {
 text-decoration: none;
 color:  black;
 font-weight: 600;
 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 

}

@media (max-width:970px){
  .navlinks a{
    display:none;
  }
  .navlinks{
    border: none;
  }

}


.navlinks a:hover,.navlinks a:active,.navlinks a:focus,
.navlinks a:active
{
    color:red;
    font-weight: 600;
    font-size: larger;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  
   

}

.read {
display: flex;
align-items: center;
justify-content:center;
}
 
.read img{
  align-items: baseline;
}

